@model IEnumerable<FedFor01.Models.RECDATA>

@{
    ViewBag.Title = "FacilityMapSearch";
}

@{
    //int offset = 0;
}}

<script>
    var stateinitial = document.getElementById("stateinitial");
    stateinitial.options[stateinitial.options.selectedIndex].selected = true;
</script>

<head>

    <title>Facility</title>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>




<body>

    <div id="map"></div>
    <script type="text/javascript">

       function targetFac(plat, plog) {
           var map = new google.maps.Map(document.getElementById("map"), {
               zoom: 10,
               center: { lat: plat, lng: plog },
               mapTypeId: "terrain"
           });

         @foreach (var item in Model) {
        @:addMarker(@item.FacilityLatitude, @item.FacilityLongitude, '@item.FacilityName', '@Uri.EscapeUriString(item.FacilityDescription)',  map);
       }

       }

           function initMap()
           {

           // Create the map.
           //var map = new google.maps.Map(document.getElementById("map"), {
           //    zoom: 8,
           //    center: { lat: 37.6876, lng: -91.0828 },
           //    mapTypeId: google.maps.MapTypeId.ROADMAP
           //    });



            }

    // Declare addMarker function
       function addMarker(latitude, longitude, title, Description,  map)
            {
                   var latLng = new google.maps.LatLng(latitude, longitude);
                   var contentString = '<h3>' + title + '</h3>' + '<p> ' + decodeURI(Description); + '</p>';

                   var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var marker = new google.maps.Marker({
                    position: latLng,
                    title: title,
                    Description: decodeURI(Description),
                    map: map,
                    draggable: false
                });

                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
            }


    </script>


    @*<script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsRgeXCc_jaRPraI_XZGuEWSJgWp9wmxo &callback=initMap">
        </script>*@


    @using (Html.BeginForm("FacilityMapSearch", "Home", FormMethod.Post))
    {
        <b> Search: </b> @Html.Editor("search")
        <p></p>
        <b> Advanced Options: </b> <input type="button" id="popupbutton" onclick="popup(this)" value="Show/Hide" />
                                   <div id="AdvOptions" style="display: none">
                                       <p>State:</p>
                                       @Html.DropDownList("stateinitial", FedFor01.Controllers.FiftyStates.StateListItems(), new { @class = "form-control", @id = "stateinitial" })
                                       <p></p>
                                       <p></p>

                                       <span>
                                           <p>Activities:</p>
                                           @Html.DropDownList("activity", FedFor01.Controllers.Activities.ActivityListItems(), new { @class = "form-control", @multiple = "multiple", @size = "12", @id = "activity" })
                                       </span>

                                       <p></p>
                                       <select id='sort' name="sort" class="option">
                                           <option value="">Sort By</option>
                                           <option selected="@ViewBag.NameSelect">Name</option>
                                           <option selected="@ViewBag.IDSelect">ID</option>
                                           <option selected="@ViewBag.DateSelect">Date</option>
                                       </select>
                                       <p></p>

                                       <b> Display: </b> <select id='searchnumber' name="searchnumber">
                                           <option selected="@ViewBag.searchnumber10">10</option>
                                           <option selected="@ViewBag.searchnumber25">25</option>
                                           <option selected="@ViewBag.searchnumber50">50</option>
                                       </select>
                                       <!--<input type="button" onclick="searchnumber = 10" value="10"><input type="button" onclick="searchnumber = 25" value="25"><input type="button" onclick="searchnumber = 50" value="50">--> @*switch to "Show: 10/25/50"?*@

                                       <button onclick="offset.stepDown(1)">Previous @ViewBag.searchnumber</button>
                                       <input type="number" min="0" step="@ViewBag.searchnumber" value="0" id="offset" name="offset" />
                                       <button onclick="offset.stepUp(1)">Next @ViewBag.searchnumber</button>
                                   </div>

        <p></p>
        <input type="submit" name="submit" value="Search" class="option"/>
    }

    @*<ul id="checkBundle">
        <li><label><input type="checkbox" />test1</label>
        <li><label><input type="checkbox" />test2</label>
        <li><label><input type="checkbox" />test3</label>
        <li><label><input type="checkbox" />test4</label>
    </ul>*@

    @helper UnOrderedList(IEnumerable<string> items)
    {
        <ul class="list list--two-column">
            @foreach (var item in items)
            {
                <li>
                    <div class="list-column-one">@item</div>
                    <div class="list-column-two">@item</div>
                </li>
            }
        </ul>
    }
    @*@_Page_Views_Home_FacilityMapSearch_cshtml.UnOrderedList(new[] { "One", "Two" });*@




<script>
        function popup() {
            var popwindow = document.getElementById("AdvOptions");
            if (popwindow.style.display === "none") {
                popwindow.style.display = "block";
            } else {
                popwindow.style.display = "none";
            }
        };
</script>


    <h2>Facility</h2>
    <div id="div1">
        <table class="table">
            <thead>
                <tr class="bg-primary">
                    <th>FacilityName</th>
                    <th>FacilityID</th>
                    <th>FacilityLatitude</th>
                    <th>FacilityLongitude</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var RECDATA in Model)
                {
                    <tr>
                        <td>
                            @RECDATA.FacilityName
                        </td>
                        <td class="bg-info">
                            @RECDATA.FacilityID
                            <button id="loadFromMainFrame" onclick="targetFac(@RECDATA.FacilityLatitude,@RECDATA.FacilityLongitude)">Select</button>
                        </td>
                        <td class="bg-info">@RECDATA.FacilityLatitude</td>
                        <td class="bg-info">@RECDATA.FacilityLongitude</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @*  *@
</body>

@{

}