@model IEnumerable<FedFor01.Models.RECDATA>

@{
    ViewBag.Title = "Search Page";
}

<title>SearchPage</title>

@{//int searchnumber = 50;

}
@* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! IGNORE THIS PAGE, ONLY KEPT FOR ARCHIVAL PURPOSES !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! *@



@using (Html.BeginForm("SearchPage", "Home", FormMethod.Get))
{
    <b> Search: </b> @Html.Editor("search")
    <input type="submit" name="submit" value="Search" />

    <b> Campsites Displayed: </b>@Html.Editor("searchnumber")
    <input type="submit" name="submit" value="Search" />


    <b>State Initial: </b> @Html.Editor("stateinitial")
    <input type="submit" name="submit" value="Search" />

}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CampsiteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampsiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampsiteType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfUse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampsiteAccessible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampsiteLongitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampsiteLatitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CampsiteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampsiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampsiteType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfUse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampsiteAccessible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampsiteLongitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampsiteLatitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedDate)
            </td>
        </tr>
    }

</table>

